
body{
  background-color: #100f0f;
}



@media (max-width: 690px){
  .box-comment{
    width: 50%;
  }
  .img{
    width: 300px;
  }
  .btn{
    width: 150px;
  }

  .comment{
    width: 250px;
  }
  .container-itens{
    margin-right: 25px;
  }
}